# Framework e Admin
Django
django-jazzmin

# Servidor e Banco de Dados (Render)
gunicorn
psycopg2-binary
dj-database-url

# Arquivos Estáticos e Mídia (Cloudinary)
whitenoise
cloudinary
django-cloudinary-storage
Pillow

# Utilitários (que estavam na sua lista e parecem úteis pro projeto)
requests
pycpfcnpj
python-dateutil